::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
}

body {
  background-color: white;
  background-size: cover;
  width: 100vw;
  color: #fff;
  background-color: #f15623;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slick-dots li button:before {
  color: #fff !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.main-container .logo {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 50px;
}
.main-container .button__bordered {
  border: 1px solid white;
  padding: 6px 16px;
  margin: 16px;
  cursor: pointer;
  width: max-content;
  font-size: 16px;
  font-family: aktiv-grotesk-extended, sans-serif;
}
.main-container .button__bordered:hover {
  color: #f15623;
  background-color: #fff;
}
.main-container .button__link,
.main-container a {
  color: #fff;
  text-decoration: underline;
  width: max-content;
  cursor: pointer;
  font-size: 16px;
}
.main-container .button__link:active, .main-container .button__link:hover .main-container .button__link:visited,
.main-container a:active,
.main-container .button__link:hover .main-container a:visited,
.main-container a:hover .main-container .button__link:visited,
.main-container a:hover .main-container a:visited {
  color: #fff;
}
.main-container input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.main-container input::placeholder {
  color: #fff;
  opacity: 0.5;
  line-height: 1.25;
}
.main-container .header {
  display: flex;
  flex-direction: column;
  padding-top: 22vh;
  cursor: pointer;
  font-size: 18px;
  max-width: 714px;
}
.main-container .header .header__text {
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 152px;
  line-height: 0.9;
}
.main-container .header .header__subtext {
  max-width: 85%;
}
.main-container .header:hover + .animation-content #circle-1 {
  top: -63%;
  left: -33%;
}
.main-container .header:hover + .animation-content #circle-2 {
  bottom: -28%;
  right: -23%;
}
.main-container .animation-content {
  z-index: -1;
}
.main-container .animation-content .animation-circle {
  position: fixed;
  width: 1088px;
  -webkit-transition: 0.33s linear;
  -moz-transition: 0.33s linear;
  -o-transition: 0.33s linear;
  transition: 0.33s linear;
}
.main-container .animation-content #circle-1 {
  top: -65%;
  left: -35%;
}
.main-container .animation-content #circle-2 {
  bottom: -30%;
  right: -25%;
}
.main-container .content {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-container .content .prompt {
  margin-bottom: 24px;
}
.main-container .content div {
  margin-bottom: 16px;
}
.main-container .footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  text-align: center;
}
.main-container .footer .footer__text:first-child {
  text-align: left;
}
.main-container .footer .footer__text:last-child {
  text-align: right;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}
.modal .vertical-align__helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.modal .vertical-align__center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal .modal__content {
  background-color: #222;
  opacity: 0.95;
  margin: 0 auto;
  padding: 16px 80px;
  width: 35%;
  text-align: center;
  pointer-events: all;
  -webkit-box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.75);
}
.modal .modal__content .header__modal {
  font-size: 30px;
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-style: normal;
}
.modal .modal__content .button__bordered:hover {
  color: #222;
  background-color: #fff;
}
.modal .modal__content .button__disabled {
  opacity: 0.5;
  cursor: default;
}
.modal .modal__content .button__disabled:hover {
  color: #fff;
  background-color: transparent;
}
.modal .modal__content input {
  margin: 24px auto;
}
.modal .modal__content input::placeholder {
  font-size: 18px;
}
.modal .modal__content #request-content,
.modal .modal__content #partner-content {
  display: none;
  flex-direction: column;
  align-items: center;
}
.modal .modal__content #partner-content h5 {
  margin-bottom: 16px;
}
.modal .modal__content #request-content p {
  margin-bottom: 34px;
}
.modal .modal__content #request-content .request-info {
  width: 75% !important;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header:hover + .animation-content #circle-1 {
    top: -68% !important;
    left: -38% !important;
  }
  .header:hover + .animation-content #circle-2 {
    bottom: -48% !important;
    right: -68% !important;
  }

  .animation-content #circle-1 {
    top: -70% !important;
    left: -40% !important;
  }
  .animation-content #circle-2 {
    bottom: -50% !important;
    right: -70% !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header:hover + .animation-content #circle-1 {
    top: -13% !important;
    left: -23% !important;
  }
  .header:hover + .animation-content #circle-2 {
    bottom: -18% !important;
    right: -33% !important;
  }

  .animation-content .animation-circle {
    width: 443px;
  }
  .animation-content #circle-1 {
    top: -15% !important;
    left: -25% !important;
  }
  .animation-content #circle-2 {
    bottom: -20% !important;
    right: -35% !important;
  }
}
@media (max-width: 767px) {
  .main-container .logo {
    display: none;
  }
  .main-container .header {
    font-size: 16px;
    padding-top: 3vh;
  }
  .main-container .header .header__text {
    font-size: 65px;
    line-height: 1.25;
  }
  .main-container .header .header__subtext {
    max-width: 100%;
  }
  .main-container .header:hover + .animation-content #circle-1 {
    top: -33%;
    left: -48%;
  }
  .main-container .header:hover + .animation-content #circle-2 {
    bottom: -23%;
    right: -58%;
  }
  .main-container .animation-content .animation-circle {
    width: 443px;
  }
  .main-container .animation-content #circle-1 {
    top: -35%;
    left: -50%;
  }
  .main-container .animation-content #circle-2 {
    bottom: -25%;
    right: -60%;
  }
  .main-container .footer {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  .main-container .footer div:last-child {
    display: none;
  }
  .main-container .modal .modal__content {
    padding: 16px;
    width: 90%;
  }
  .main-container .modal .modal__content input {
    margin: 20px auto;
  }
}

/*# sourceMappingURL=styles.css.map */
