$color__red: #f15623;
$color__yellow: #fccb13;
$color__white: #fff;
$color__black: #222;


::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
}

body {
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    width: 100vw;
    color: $color__white;
    background-color: $color__red;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    input {
        font-family: aktiv-grotesk-extended, sans-serif;
    }
}

.slick-dots li button:before {
    color: $color__white !important;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    #partner-button {
        align-self: flex-end;
    }

    .button__bordered {
        border: 1px solid white;
        padding: 6px 16px;
        margin: 16px;
        cursor: pointer;
        width: max-content;
        font-size: 16px;
        font-family: aktiv-grotesk-extended, sans-serif;

        &:hover {
            color: $color__red;
            background-color: $color__white;
        }
    }

    .button__link,
    a {
        color: $color__white;
        text-decoration: underline;
        width: max-content;
        cursor: pointer;
        font-size: 16px;

        &:active,
        &:hover &:visited {
            color: $color__white;
        }
    }

    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid $color__white;
        outline: none !important;
        border-radius: 0;
        width: 100%;
        margin-bottom: 16px;
        text-align: center;
        font-size: 24px;
        color: $color__white;

        &::placeholder {
            color: $color__white;
            opacity: 0.5;
            line-height: 1.25;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        padding-top: 22vh;
        cursor: pointer;
        font-size: 18px;
        max-width: 714px;

        .header__text {
            font-family: big-caslon-fb, serif;
            font-weight: 800;
            font-style: normal;
            font-size: 152px;
            line-height: 0.9;
        }

        .header__subtext {
            max-width: 85%;
        }
    }

    .header:hover {
        +.animation-content {
            #circle-1 {
                top: -63%;
                left: -33%;
            }

            #circle-2 {
                bottom: -28%;
                right: -23%;
            }
        }
    }

    .animation-content {
        z-index: -1;

        .animation-circle {
            position: fixed;
            width: 1088px;
            -webkit-transition: 0.33s linear;
            -moz-transition: 0.33s linear;
            -o-transition: 0.33s linear;
            transition: 0.33s linear;
        }

        #circle-1 {
            top: -65%;
            left: -35%;
        }

        #circle-2 {
            bottom: -30%;
            right: -25%;
        }
    }

    .content {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .prompt {
            margin-bottom: 24px;
        }

        div {
            margin-bottom: 4px;
        }
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-grow: 1;
        text-align: center;
        font-size: 10px;

        & a {
            font-size: 10px;
        }

        .footer__text:first-child {
            text-align: left;
        }

        .footer__text:last-child {
            text-align: right;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;

    .vertical-align__helper {
        display: table;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .vertical-align__center {
        display: table-cell;
        vertical-align: middle;
        pointer-events: none;
    }

    .modal__content {
        background-color: $color__black;
        opacity: 0.95;
        margin: 0 auto;
        width: 35%;
        text-align: center;
        pointer-events: all;
        border-radius: 10px;
        -webkit-box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;

        #close-button {
            padding: 16px 16px 0px 16px;
            cursor: pointer;
            align-self: flex-end;

            &::before {
                content: 'X';
            }
        }

        .modal__wrapper {
            padding: 0px 80px 24px 80px;

            .header__modal {
                font-size: 30px;
                font-family: big-caslon-fb, serif;
                font-weight: 800;
                font-style: normal;
            }

            .button__bordered {
                &:hover {
                    color: $color__black;
                    background-color: $color__white;
                }
            }

            .button__disabled {
                opacity: 0.5;
                cursor: default;

                &:hover {
                    color: $color__white;
                    background-color: transparent;
                }
            }

            input {
                margin: 24px auto;

                &::placeholder {
                    font-size: 18px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            #request-content,
            #partner-content {
                display: none;
                flex-direction: column;
                align-items: center;
            }

            #partner-content {
                h5 {
                    margin-bottom: 16px;
                }

                #no-account-alert {
                    visibility: hidden;
                }
            }

            #request-content {
                p {
                    margin-bottom: 34px;
                }

                .request-info {
                    width: 75% !important;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

    }
}

.pp__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px 0;

    div {
        margin: 16px;
    }

    .header,
    .footer {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .header {
        font-weight: bold;
    }

    .footer {
        align-self: flex-start;
    }

    .section__header {
        font-family: big-caslon-fb, serif;
        font-weight: 800;
        font-size: 24px;
        margin-top: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .section__subheader {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .section__content {
        div {
            margin-left: 24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header:hover {
        +.animation-content {
            #circle-1 {
                top: -68% !important;
                left: -38% !important;
            }

            #circle-2 {
                bottom: -48% !important;
                right: -68% !important;
            }
        }
    }

    .animation-content {

        #circle-1 {
            top: -70% !important;
            left: -40% !important;
        }

        #circle-2 {
            bottom: -50% !important;
            right: -70% !important;
        }
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .header:hover {
        +.animation-content {
            #circle-1 {
                top: -13% !important;
                left: -23% !important;
            }

            #circle-2 {
                bottom: -18% !important;
                right: -33% !important;
            }
        }

    }

    .animation-content {

        .animation-circle {
            width: 443px;
        }

        #circle-1 {
            top: -15% !important;
            left: -25% !important;
        }

        #circle-2 {
            bottom: -20% !important;
            right: -35% !important;
        }
    }
}

@media (max-width: 767px) {
    .main-container {

        .header {
            font-size: 16px;
            padding-top: 3vh;

            .header__text {
                font-size: 65px;
                line-height: 1.25;
            }

            .header__subtext {
                max-width: 100%;
            }

        }

        .header:hover {
            +.animation-content {
                #circle-1 {
                    top: -33%;
                    left: -48%;
                }

                #circle-2 {
                    bottom: -23%;
                    right: -58%;
                }
            }
        }

        .animation-content {

            .animation-circle {
                width: 443px;
            }

            #circle-1 {
                top: -35%;
                left: -50%;
            }

            #circle-2 {
                bottom: -25%;
                right: -60%;
            }
        }

        .footer {
            flex-direction: column-reverse;
            text-align: center;
            align-items: center;
            justify-content: space-around;

            div:last-child {
                display: none;
            }
        }

        .modal {
            .modal__content {
                width: 100%;

                .modal__wrapper {
                    padding: 0px 16px 16px 16px;

                    input {
                        margin: 20px auto;
                    }
                }

            }
        }
    }

    .pp__container {
        padding: 16px 0;
    }
}