::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0;
}
body {
  background-color: rgba(255, 255, 255, 1);
  background-size: cover;
  width: 100vw;
  color: #FAFAFA;
}
.hero-container{
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 60vh;
  position: relative;
}
.flex-container {
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:center;
   -webkit-align-items:center;
   -ms-flex-align:center;
   align-items:center;
   -webkit-box-pack:center;
   -webkit-justify-content:center;
   -ms-flex-pack:center;
   justify-content:center;
}
.flex-container > img {
  justify-content: center;
  align-items:center;
  height: 40vh;
  max-width: 100%;
}
.logo-big{
  width: 20vw;
  height: 20vh;
  display: inline-block;
}
.header {
  width: 22vw;
  height: 22vh;
  float: left;
  margin: 4vw;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.header h1{
  font-size: 34px;
}
/*.header h3{
  font-size: 14px;
  margin-left: 5px;
}*/
.about{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: middle;
  height: 20vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.about h1{
  font-size: 16px;
  color: grey;
  margin-top: 100px;
  font-weight: normal;
}
.contact {
  background-color: #222;
  width: 100vw;
  height: 22vh;
  position: relative;
  outline: 2px solid #FAFAFA;
  outline-offset: -20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.contact-info{
  width: 100vw;
  position: absolute;
  top: 3vh;
  left: 3vw;
}
.contact-info h4{
  position: relative;
  left: 1vw;
}
.contact-links-container {
  width: 100vw;
  position: absolute;
  top: 3vh;
  left: 70vw;
}
.contact-links{
  margin: 5px;
}
#linkedin-logo{
  margin: 2px;
  width: 100px;
  height: 25px;
}
#github-logo{
  margin: 2px;
  width: 25px;
  height: 25px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*Spans for code effect*/
.ind0 {
  padding-left: 5px;
}
.ind1 {
  padding-left: 10px;
}
.ind2 {
  padding-left: 15px;
}
.ind3 {
  padding-left: 23px;
}
.ind4 {
  padding-left: 31px;
}
.ind5 {
  padding-left: 36px;
}
.ind6 {
  padding-left: 41px;
}
